<div class="jumbotron" style="width:50%; margin-left:25%;">
  <h2>Reģistrēties</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label "Vārds" %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label "Uzvārds" %><br />
      <%= f.text_field :surname, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label "Lietotājvārds" %><br />
      <%= f.text_field :user_name, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label "Epasts" %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label "Parole" %>
      <% if @minimum_password_length %>
      <em>(Vismaz <%= @minimum_password_length %> simbolu gara)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
    </div>

    <div class="field">
      <%= f.label "Parole atkārtota ievadīšana" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label "Apraksts" %><br />
      <%= f.text_area :description, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Reģistrēties", class: "btn btn-primary" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>