<!DOCTYPE html>
<html>
  <head>
    <title>PatternLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <% if user_signed_in? %>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="navbar-brand" href="/">Sākums</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/welcome/about">Par mums</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/welcome/contact">Kontakti</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/admin/users">Administratora panelis</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <strong><%= current_user.email %></strong>.
                <%= link_to 'Rediģēt', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Iziet", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
              </li>
            </ul>
          </div>
        </nav>
      <% end %>
  </head>
  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
  <footer>
    <div class="footer">
      <p>© Raksti 2017</p>
    </div>
  </footer>
</html>

